.help__wrapper {
  @include media-laptop {
    padding: 0 39px;
  }
  @include media-tablet {
    padding: 0;
  }
}
.help {
  background-color: $color-light-xl;
  padding: 80px 0 100px 0;
  &__title {
    width: 310px;
    margin: 0 auto;
    padding-bottom: 60px;
    text-align: center;
    h3 {
      @include media-tablet {
        @include h3_mobile;
        color: $color-dark-l;
      }
    }
    @include media-tablet {
      // width: fit-content;
      max-width: 225px;
      // padding: 0 40px 42px 40px;
      padding-bottom: 42px;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px 120px;

    @include media-laptop {
      gap: 55px 60px;
      // gap: 55px 5pc;
      max-width: 630px;
      margin: 0 auto;
    }
    @include media-tablet {
      max-width: 290px;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__item {
    .item__img {
      img {
        @include media-tablet {
          height: 50px;
        }
      }
    }
    .image-mobele-height {
      img {
        @include media-tablet {
          height: auto;
          width: 50px;
        }
      }
    }
    @include media-laptop {
      flex-basis: 170px;
    }
    @include media-tablet {
      flex-basis: 130px;
      height: 87px;
    }
  }
  @include media-tablet {
    padding: 42px 0;
  }
}
.wrapper {
}
.item {
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  &__img {
    img {
      display: block;
    }
    @include media-tablet {
      // padding-bottom: 10px;
      // max-width: 50px;
    }
  }
  .img_wide {
    padding-top: 3px;
    img {
      @include media-tablet {
        max-width: 50px;
        height: auto;
      }
    }
  }
  &__subtitle {
    text-align: center;
    h4 {
      @include media-tablet {
        @include h5-mobile;
      }
    }
  }
  @include media-tablet {
    height: 87px;
  }
}
.h4 {
  &_lite {
  }
}
// .item_offset3 {
//   padding: 2px 0 24px;
//   // padding-bottom: 26px;
// }
// .item_offset5 {
//   padding: 3px 0 25px;
//   // padding-bottom: 28px;
// }
// .item_offset7 {
//   padding: 4px 0 26px;
//   // padding-bottom: 30px;
// }
