%humburger-line {
  position: absolute;
  display: inline-block;
  height: 2px;
  background-color: $color-primary;
  width: 30px;
}
.hamburger {
  // display: inline-block;
  display: none;
  width: 30px;
  height: 22px;
  line-height: 0;
  background-color: transparent;
  position: relative;
  transition: all ease-in-out 0.5s;
  &__line {
    @extend %humburger-line;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  &::before {
    @extend %humburger-line;
    content: "";
    top: 0;
    left: 0;
  }
  &::after {
    @extend %humburger-line;
    content: "";
    bottom: 0;
    left: 0;
  }
  @include media-tablet {
    display: inline-block;
    z-index: $zIndexHamburger;
  }
  &:hover {
    cursor: pointer;
  }
}
